@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

html{
  scroll-behavior: smooth
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins-semibold" !important;
  font-weight: 500 !important;
}

/* Custom ScrollBar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.collapse.show {
  z-index: 10;
  background-color: #343a40;
}

/* preloader */

#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  background: #000000e8;
}

#spinner {
  border: 10px solid #f3f3f3;
  border-radius: 50px;
  border-top: 10px solid #cc005f;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Home */

#intro {
  background: #151515 url(/images/bg.jpg) no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro-overlay {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111111;
  opacity: 0.85;
}

.intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-top: -100px;
}

.button {
  padding: 20px;
}

.button.stroke {
  background: transparent !important;
  border: 2.5px solid #313131;
  line-height: 4.8rem;
}

.button.stroke:hover {
  border: 2.5px solid #ff0077;
}

.intro-content h1 {
  color: #ffffff;
  font-family: "poppins-medium", sans-serif;
  line-height: 1.071;
  max-width: 900px;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
  color: #cc005f;
  font-family: "poppins-bold", sans-serif;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
 .intro-position {
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-position span::after {
  content: "|";
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-position span:first-child::before {
  content: "|";
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
  color: #ffffff !important;
  border-color: rgba(255, 255, 255, 0.3);
  margin-top: 0.6rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  transition: 1s;
}

.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3rem;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.intro-social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}

/* removing default 'a' tag behaviour */
.intro-social li a,
.intro-social li a:visited {
  color: #ffffff;
}
.intro-social li a:hover,
.intro-social li a:focus {
  color: #cc005f;
}

/* Nav Bar */

.bg-dark {
  z-index: 1;
  background-color: #343a40 !important;
  height: 45px;
  font-size: medium;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
}

/* About Me */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.section-intro {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: "poppins-semibold", serif;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #ff0077;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.3rem;
}

.about-content h5 {
  font-family: "poppins-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.grey-section {
  background: #ebebeb;
}
.grey-section p.lead {
  color: #7d7d7d;
}
.intro-info {
  display: flex;
}

.intro-info img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
hr {
  margin: 0;
}

.desc {
  font-family: "poppins-regular", sans-serif;
  color: #000000c2;
  text-align: left;
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1rem !important;
  font-weight: 300;
}

.about-content {
  width: 70%;
}

.hire-me {
  color: black;
  padding: 15px 79px;
  border: 1.5px solid;
  margin-right: 20px;
  font-weight: 700;
}

.cv-btn {
  color: white;
  background-color: black;
  padding: 15px 60px;
  border: 1px solid;
  margin-left: 20px;
  font-weight: 700;
}

 .info-list {
  list-style: none;
  margin-left: 0;
  padding-left: 10px;
}

.info-list li strong {
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3rem;
}

 .info-list li span {
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: #888888;
  line-height: 1;
}

/* skill bars */

/* overriding default bootstrap css  */
.progress{
  height: 8px !important;
  border-radius: 5% !important;
  background-color:lightgrey
}

.progress-bar{
  background-color:#000000c4 !important
}

.skill-bars {
  list-style: none;
  margin: 3rem 0 3rem;
}
.skill-bars li {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 0;
  position: relative;
}
.skill-bars li strong {
  position: absolute;
  left: 0;
  top: -2.1rem;
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  line-height: 2.4rem;
}


.button-section {
  margin-top: -15px;
  margin-bottom: 50px;
}

.button-section .hire-me:hover {
  color: #000000;
}
.button-section .cv-btn:hover {
  color: #ffffff;
}


/* project */

.centerBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 30px;
}

.zoom{
  width:100%;
}
.card:hover{
  flex: 1.35;
  width: 110%;
}

.card {
  flex: 1;
  margin-left: 20px;
  transition: 0.8s;
  justify-content: center;
  align-items: center;
  cursor: link;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardLink{
  text-decoration: none;
  color: black !important;
}

/* Contact Me */

.inputField {
  width: 90%;
  height: 50px;
  padding-left: 20px;
  margin: 10px;
  border-radius: 3px;
  border: 0px;
  color: white;
  background-color: rgba(255, 255, 255, 0.144);
  font-family: "poppins-regular", sans-serif;
  letter-spacing: 0.05rem;
}

textarea {
  width: 90%;
  padding-left: 20px;
  margin: 10px !important;
  border-radius: 3px;
  border: 0px;
  resize: none !important;
  color: white;
  background-color: rgba(255, 255, 255, 0.144);
  font-family: "poppins-regular", sans-serif !important;
  letter-spacing: 0.05rem;
}


.error-Label {
  display: none;
  font-size: smaller;
  color: red;
  margin-top: -10px;
  align-self: flex-end;
  margin-right: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

form p {
  font-family: "poppins-regular", sans-serif;
}

.submit-Btn {
  background-color: #cc005f;
  color: white;
  font-weight: 600;
  margin-top: 15px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 0px;
  border-radius: 8px
}

.center-box h5{
  font-size: large;
}

.center-box h1{
  font-size: 45px;
  margin-top:15px
}

/* resume */
/* #### The below resume Timeline css is inspired by - ref:"https://codepen.io/Devcrud/pen/XWboGgL"  */

#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#resume .resume-header {
  text-align: center;
}
#resume .resume-header h2 {
  color: #ff0077;
}

#resume .resume-timeline {
  max-width: 980px;
}
#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 10%;
}
#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}
#resume .timeline-ico {
  height: 2.8rem;
  width: 2.8rem;
  line-height: 2.3rem;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 35%;
  top: 0.9rem;
  margin-left: -1.4rem;
}
#resume .timeline-ico i {
  position: relative;
  left: 0.05rem;
  top: 0.2rem;
}

#resume .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}
#resume .timeline-header h3 {
  font-size: large;
  margin-bottom: 0;
}
#resume .timeline-header p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1rem;
  color: #888888;
}
#resume .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
}
#resume .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Footer  */
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-family: "poppins-regular", sans-serif;
  font-size: 15;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1.15;
  padding: 8px 8px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #cc005f;
  color: #fff;
  text-decoration: none;
}

#footer .credits {
  font-family: "poppins-regular", sans-serif;
  font-size: 13px;
}