<div id="about">
	<div class="row section-intro">
		<div>
			<h5>About</h5>
			<h1>Let me introduce myself.</h1>
			<div class="intro-info">
				<img src="images/profile-pic.jpg" alt="Profile Picture">
				<p class="lead desc">Forward-thinking Software Developer with working effectively in dynamic
					environments. Fluent in Java,
					React Native, Python and other programming languages. Focused on achieving project
					objectives with speed and accuracy.</p>
			</div>
		</div>
	</div>

	<div class="row about-content">
		<div style="width: 50%;">
			<h5>Profile</h5>
			<hr>
			<ul class="info-list">
				<li>
					<strong>Fullname:</strong>
					<span>Yash Samitkumar Shah</span>
				</li>
				<li>
					<strong>Birth Date:</strong>
					<span>January 30, 2000</span>
				</li>
				<li>
					<strong>Job:</strong>
					<span>Freelancer, Software Developer</span>
				</li>
				<li>
					<strong>Email:</strong>
					<span>yashah301@gmail.com</span>
				</li>
			</ul>
		</div>

		<div style="flex: 1">
			<h5>Skills</h5>
			<hr>
			<ul class="skill-bars">
				<li>
					<strong>React Native</strong>
					{{!-- Bootstrap Progress Bar ref:https://getbootstrap.com/docs/4.0/components/progress/ --}}
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 90%;"></div>
					</div>
				</li>
				<li>
					<strong>CSS3</strong>
					<div class="progress" >
						<div class="progress-bar" role="progressbar" style="width: 85%;"></div>
					</div>
					
				</li>
				<li>
					<strong>Android</strong>
					<div class="progress" >
						<div class="progress-bar" role="progressbar" style="width: 70%;"></div>
					</div>
				</li>
				<li>
					<strong>Java</strong>
					<div class="progress" >
						<div class="progress-bar" role="progressbar" style="width: 95%;"></div>
					</div>
				</li>
				<li>
					<strong>Python</strong>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 75%;"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="button-section">
		<div>
			<a href="/ContactMe" title="Hire Me" class="button stroke hire-me">Hire Me</a>
			<a href="#resume" title="Download CV" class="button button-primary cv-btn">Download CV</a>
		</div>
	</div>
</div>

<div id="resume" class="grey-section">
	<div class="row section-intro">
		<div>
			<h5>Resume</h5>
			<h1>More of my credentials.</h1>
			<p class="lead">To secure a challenging position in a reputable organization and expand my learnings,
				knowledge, and skills.</p>
		</div>
	</div>

	<div class="row resume-timeline">
		<div class=" resume-header">
			<h2>Work Experience</h2>
		</div>
		<div>
			<div class="timeline-wrap">
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>Software Developer</h3>
						<p>April 2020 - April 2021</p>
					</div>
					<div class="timeline-content">
						<h4>Archives Soft Design</h4>
						<p>Large scalable web application using Hibernate & Spring.
							API development for cross-platform data access.
							Mobile Application development with React-native.
							Maintained and upgraded products to deliver smooth-running
							systems</p>
					</div>
				</div>
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>Software Developer Intern</h3>
						<p>December 2019 - April 2020</p>
					</div>
					<div class="timeline-content">
						<h4>Awesome Studio</h4>
						<p>Learned React Native Framework, Machine Learning - Image
							classification.
							Developed Mobile application using React-Native along with
							advanced web framework such as Spring Boot and Hibernate
							for backend using Jhipster tool.
							App features : Food image detection , Profanity language
							detection, Multimedia support.
							Gain knowledge on computer vision concepts, TensorFlow,
							Karas.</p>
					</div>
				</div>
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>Web Designer</h3>
						<p>December 2019 - May 2021</p>
					</div>
					<div class="timeline-content">
						<h4>Freelancer</h4>
						<p>As a freelance web designer I use to design and build websites to the
							client’s specifications. This often involves sketching basic concepts, creating draft
							websites, and making revisions as requested by the client.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row resume-timeline">

		<div class="resume-header">
			<h2>Education</h2>
		</div>
		<div>
			<div class="timeline-wrap">
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>
					<div class="timeline-header">
						<h3>Post Graduation</h3>
						<p>May 2021 - Present</p>
					</div>
					<div class="timeline-content">
						<h4>Conestoga College</h4>
						<p>Mobile Solutions Development (MSD) is a four-semester graduate certificate program, including
							a one-semester exploration of career management or an optional co-op in the mobile software
							industry. The program will offer students a strong practical background in mobile solutions
							design and development. </p>
					</div>
				</div>
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>
					<div class="timeline-header">
						<h3>Bachelor Degree</h3>
						<p>July 2017 - March 2020</p>
					</div>
					<div class="timeline-content">
						<h4>The Maharaja Sayajirao University of Baroda</h4>
						<p>The Maharaja Sayajirao University of Baroda, formerly Baroda College is a public university
							in the city of Vadodara/Baroda, in Gujarat state, India. Originally established as a college
							in 1881, it became a university in 1949 after the independence of the country.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>