<div id="intro">
  <div class="intro-overlay"></div>
  <div class="intro-content">
    <div class="row">
      <div class="center-box">
        <h5>Hello, Folks.</h5>
        <h1 style="font-size: 74px;">I'm Yash Shah.</h1>
        <p class="intro-position">
          <span>Software Developer</span>
          <span>UI/UX Designer</span>
        </p>
        <a class="button stroke" href="/AboutMe">Connect with Me</a>
      </div>
    </div>
  </div>
  <ul class="intro-social">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://github.com/Yashah301" target="_black"><i class="fa fa-gitlab"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/yashah30/" target="_black"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>