<div class="section-intro">
    <h5 style="margin-top: 40px;">My Projects</h5>
    <h1>Check out some of my work</h1>
    <div class="centerBox">
        <div class="row">
            <div class="card">
                <img src="images/3.png" alt="Avatar" class="zoom">
                <div class="container">
                    <h4><b>Foodie App</b></h4>
                    <p>Recipies & Restaurants</p>
                </div>
            </div>
            <div class="card">
                <img src="images/h.png" alt="Avatar" class="zoom">
                <div class="container">
                    <h4><b>Humanitarian</b></h4>
                    <p>Be the good Cause</p>
                </div>
            </div>
            <div class="card" style="cursor: pointer;" onclick="window.open('https://foodetection.netlify.app')">
                <img src="images/foodApi.png" alt="Avatar" class="zoom" >
                <div class="container">
                    <h4><b>Food Detection</b></h4>
                    <p>Food Image Recognition</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="margin-top: 40px;cursor: pointer;" onclick="window.open('https://xd.adobe.com/view/558b8a19-567b-45d0-b9ec-8c30b9b6c5bd-00d8/?fullscreen')">
                <img src="images/talent.png" style="padding: 60px;" alt="Avatar"  class="zoom">
                <div class="container">
                    <h4><b>Talent Player</b></h4>
                    <p>Online Music Streaming UI</p>
                </div>
            </div>
        </div>
    </div>
</div>